Django==5.1 
django-cors-headers==4.4.0 
djangorestframework==3.15.2 
django-allauth==0.63.0 
python-dotenv==1.0.1 
celery==5.4.0 
redis==5.0.8 
google-generativeai==0.8.3 
pdfkit==1.0.0 
PyPDF2==3.0.1 
Pillow==10.4.0 
python-docx==1.1.2 
pdf2docx==0.5.8 
openpyxl==3.1.5 
python-pptx==1.0.2 
PyMuPDF==1.24.10 
comtypes==1.4.7 
gunicorn==23.0.0 
psutil==6.0.0
dj-database-url==2.2.0
psycopg2-binary==2.9.9
whitenoise==6.7.0
django-storages==1.14.4
boto3==1.35.39
